/* THEME BUTTON */
#theme_label
{
    position: absolute;
    z-index: 400;
    font-size: 25px;
    font-family: 'Montserrat';
    top: 83%;
    left: 40px;
    color: #262626;
}

.switch 
{
    position: absolute;
    z-index: 400;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 85.7%;
    left: 150px;
 }
  
  /* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 400;
    top: 90%;
    left: 90%;
}
  
  /* The slider */
.slider 
{
    position: absolute;
    z-index: 400;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before 
{
    position: absolute;
    z-index: 400;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider 
{
    background-color: #2196F3;
    z-index: 400;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
    z-index: 400;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}
  
.slider.round:before 
{
    border-radius: 50%;
}

/* TIMER */
#timer_bg
{
    position: absolute;
    top: 91.5%;
    left: 30px;
    border-radius: 30px;
    background: #262626;
    padding: 20px;
    width: 150px;
    height: 15;
    z-index: 400;
}

#timer
{
    color: #e1e1e1;
    position: absolute;
    z-index: 400;
    top: 92.3%;
    left: 45px;
    font-size: 20px;
    font-family: 'Montserrat';
}

/* Timer control */

#left_arrow{
    position: absolute;
    top: 77%;
    left: 30px;
    border-radius: 30px;
    background: #262626;
    padding: 20px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

#left_arrow:hover{
    transform: scale(1.1);
}

#middle_text{
    position: absolute;
    top: 77%;
    left: 90px;
    border-radius: 30px;
    background: #262626;
    padding: 20px;
    width: 25px;
    height: 15px;
    z-index: 400;
    
}

#middle_text_text{
    font-family: 'Montserrat';
    font-size: 25px;
    margin-top: -7px;
    color: #e1e1e1;
}


#right_arrow{
    position: absolute;
    top: 77%;
    left: 160px;
    border-radius: 30px;
    background: #262626;
    padding: 20px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

#right_arrow:hover{
    transform: scale(1.1);
}


.triangle-left,
.triangle-right{
  width: 0;
  height: 0;
  margin: auto;
}
.triangle-left,
.triangle-right{
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}


.triangle-right{
  border-left: 15px solid #e1e1e1;
 }
.triangle-left{
  border-right:15px solid #e1e1e1;
}

.triangle-right{
    position: relative;
    left: 2px;
}

.triangle-left{
    position: relative;
    left: -2px;
}


.button-container {
    text-align: left;
    
  }
button {
    display: inline-block;
}


#information_card{
    border-radius: 20px;
    width: 340px;
    height: 125px;
    background-color: #262626;
    z-index: 450;
    bottom: 4%;
    right: 1.2%;
    position: absolute;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.gallery-item {
    display: flex;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    position: relative;
}

.gallery-item img {
    width: 20%;
    height: auto;
    display: block;
}

.gallery-item-text {
    position: absolute;
    font-family: "Montserrat";
    font-size: px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 18px;
    color: #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gallery-item-text p {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
}

#anomaly_detection_log{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #262626;
    z-index: 450;
    bottom: 20.3%;
    right: 13.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

#anomaly_detection_log p{
    font-family: 'LEMON MILK';
    font-size: 25px;
    color: #e1e1e1;

}

#anomaly_detection_log:hover{
    transform: scale(1.1);
}

#anomaly_detection_issue_big{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #262626;
    z-index: 450;
    bottom: 20.3%;
    right: 7.3%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


#anomaly_detection_issue_big_img{
    width: 60%;
    margin-top: -10px;
}

#anomaly_detection_issue_small{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #262626;
    z-index: 450;
    bottom: 20.3%;
    right: 1.2%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anomaly_detection_issue_small_img{
    width: 60%;
    margin-top: -10px;
}



.anomaly_detection_issue_big_value {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 455;
    top: 68%;
    right: 7%;
    position: absolute;
    font-family: "LEMON MILK LIGHT";
  }

  .anomaly_detection_issue_small_value {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 455;
    top: 68%;
    right: 0.8%;
    position: absolute;
    font-family: "LEMON MILK LIGHT";
  }


  .button-container {
    display: flex;
    align-items: center;
    margin-right: -1550px;
  }
  
  .navbuttons {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    font-family: "Montserrat";
    font-size: 30px;
    color: #e1e1e1;

  }
  
  .navbuttons:hover {
    transform: scale(1.1);
  }