/* Popup container */
.popup2 {
    position: relative;
    display: flex;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup2 .popuptext {
    visibility: hidden;
    width: 300px;
    height: 200px;
    background-color: #262626;
    color: #e1e1e1;
    text-align: center;
    border-radius: 20px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%; /* move bottom */
    margin-bottom: -50px;
    left: 20%;
    margin-left: -350px; /* change this to move to left*/
  }
  
  /* Popup arrow */
  .popup2 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Montserrat";
  }
  
  td {
    padding: 10px;
    border: 1px solid whitesmoke;
    min-width: 50px;
  }

  .table-container {
    width: 300;
    height: 200px;
    overflow: auto;
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      width: 0 !important; /* Safari and Chrome */
    }
  }